<% provide :page_title, t(".title") %>

<%= render "shared/error_messages", obj: @user %>

<h1><%= t ".title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form", url: signup_path, user: @user %>
  </div>
</div>
