<hr>
<footer>
  <p>
    <%= raw t(".content") %>
    <span class="text-left">
      <%= link_to t(".about"), show_path("about") %>
      <%= link_to t(".contact"), show_path("contact") %>
      <%= link_to t(".help"), show_path("help") %>
    </span>
  </p>
</footer>
