<hr>
<footer>
  <p>
    <%= raw t(".content") %>
    <span class="text-left">
      <%= link_to t(".about"), about_path %>
      <%= link_to t(".contact"), contact_path %>
      <%= link_to t(".help"), help_path %>
    </span>
  </p>
</footer>
